/* Font */
@font-face {
    font-family: 'vt323-regular';
    src: url('../fonts/VT323-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  
}

/* Body */
body {
    background-image: url("../images/wall.jpg");
    background-repeat: repeat;

    font-family: "vt323-regular";
    font-size: 18pt;
    color: #f7f7f7;
    background-color: #207383;
    margin-left: 10%;
    margin-right: 10%;
}

h3 {
    color: #edf0f5;
}

hr {
    width: 100%;
}

a {
    text-decoration: none;
    color: #edf0f5;
}

/* HEADER
-------------------------------------------------- */

/* TItle */
#title {
    text-align: center;
    background-color: #27393b;
    color: #FFBF00;
}

/*== Main ==*/

main {
    display: flex;
    flex-direction: row;
}

#index_button {
    background-color: #1b1b1b;
    font-family: "vt323-regular";
    font-size: 14pt;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    display: none;
}

aside {
    text-align: left;
    text-decoration: none;
    color: #edf0f5;
}

a:hover{
    color: #e3af12;
}

.main-content {
    border-radius: 0.2em;

    border-top: 5px solid #33464a;
    border-left: 5px solid #33464a;
    border-right: 5px solid #1e2a31;
    border-bottom: 5px solid #1e2a31;
    
	margin: 0% 1% 0% 1%;
	padding: 1%;

    flex: 60%;

    display: flex;
    flex-direction: column;
    background-color: #27393b;
}

.aside-left {
    flex: 20%;

}

.aside-left div{
    border-top: 5px solid #33464a;
    border-left: 5px solid #33464a;
    border-right: 5px solid #1e2a31;
    border-bottom: 5px solid #1e2a31;

    background-color: #27393b;
    padding: 5%;
    margin-bottom: 5%;
    border-radius: 0.2em;

}

.main-updates {
    height: 20%;
    overflow: auto;
}

.main-about img{
    margin-right: 5%;

    width: 30%;
    height: auto;

    float: left;
    border-radius: 0.2em;
}

.aside-right {
    flex: 20%;
}

.aside-right div{
    border-top: 5px solid #33464a;
    border-left: 5px solid #33464a;
    border-right: 5px solid #1e2a31;
    border-bottom: 5px solid #1e2a31;

    background-color: #27393b;
    padding: 5%;
    margin-bottom: 5%;
    border-radius: 0.2em;
}

.index-list{
    text-decoration: none;
    display: block;
}

.index-list ul{
    list-style: none;
}

li {
  padding-bottom: 15%;
}

/*== Social Categories ==*/
#social-categories {
    display: flex;
    flex-direction: row;
}

#social-categories img {
    height: auto;
    max-width: 50%;
}


.social {
    flex: 30%;
    text-align: center;
    align-content: center;
    padding: 3%;
}

.social p {
    text-align: left;
}

/* PROJECTS
-------------------------------------------------- */

.project-content {
    display: flex;
    flex-direction: row;
}

.project-content img{
    flex: 25%;
    object-fit: cover;
    max-width: 25%;
    padding-right: 3%;
}

.project-content a{
    text-decoration: underline;
}

.text-muted {
    color: #e3af12;
}

.return-link {
    color: #e3af12;
}
/* FOOTER CONTENT
-------------------------------------------------- */

footer {
    color: #bec5d3;
    text-align: center;
    padding: 10%;
}

@media screen and (max-width: 1024px) {
    .active, #index_button:hover {
        background-color: #707070;
    }

    #index_button {
        display: block;
    }

    #img {
        max-width: 20%;
    }

    #index {
        z-index: 2;
    }

    #index_list {
        display: none;
    }

    #main_content {
        padding-top: 30px;
        margin: 5%;
    }

    #social-categories {
        flex-direction: column;
    }
}

